

h1 {
	text-align : center;
	font-weight : normal;
	font-size : 1.5em;
	color : #7ca2d9;
}

/* create a 2 column fluid layout */

#register {
	overflow : hidden;
	margin-top : 5%;
	margin-bottom : 10%;
}

#register div{
	width : 20%;
	margin : 0 1%;
	float : left;
	font-size : 1.2em;
	font-weight : normal;
	color :#db970d;
}

#register div h2 {
	font-size: 1.35em;
	font-weight : normal;
}
	
/* styling the form */
#register form {
	width : 50%;
	margin : 0 auto 0 10%;
	float : left;
	
}

#register form input {
	width : 70%;
	border : thin solid;
	border-radius : 5px;
}

#register form input[type="submit"] {
	width : 25%;
}

#register ul li {
	margin: 8px 0;
}

