
<!Doctype html>
<html>
	<head>
		<title>ThePythonGeek</title>
		<link rel="stylesheet" href="../static/css/styles.css">
		<link rel="stylesheet" href="../static/css/register.css">
	</head>
	<body>
		<h1>Welcome to the FinanceManager</h1>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p class="flashes"> {{message}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<div id="register">
			<div>
			<h2>Registration is simple and easy</h2>
			</div>
			<form method="post">
				<ul>
					<li><input type="text" name="username" placeholder="username" required="required"></li>
					<li><input type="email" name="email" placeholder="email" required="required"></li>
					<li><input type="password" name="password" placeholder="password" required="required"></li>
					<li><input type="submit" value="Register"></li>
				</ul>
			</form>
		</div>
		<!-- Footer -->
		<Footer>
			<div id="inquiries">
				<h3>Inquiries</h3>
				<form method="post" action="{{url_for('auth.inquiry', next='register')}}">
					<ul>
						<li><textarea name="inquiries" rows="6" cols="80" placeholder="We are waiting to hear from you"></textarea>
						<li><input type="submit"></li>
					</ul>
				</form>
			</div>
			<div id="contacts">
				<h3>Contacts</h3>
				<dl>
					<dt>website</dt>
					<dd><a href="">www.thepythongeek.com</a></dd>
					<dt>email</dt>
					<dd>thePythonGeek.yahoo.com</dd>
					<dt>mobile</dt>
					<dd>+255 766299058</dd
				</dl>
			</div>
			<p class="copyright">copyright &copy;thePythonGeek 2020</p>
		</Footer>		
	</body>
</html>