
<!Doctype html>
<html>
	<head>
		<title>ThePythonGeek</title>
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>
	<body>
		<!--navbar-->
		<nav>
			<ul>
				<li class="logo"><a href="">FinanceManager</a></li>
				<li><a href="">Expenses</a></li>
				<li><a href="">Income</a></li>
				<li><a href="">Logout</a></li>
			</ul>
		</nav>
		<!-- main section-->
		<header>
			<h1>Financial Details</h1>
			<p>It is always important to know the flow of your money, how it is flowing in and out for a stronger 
			financial success.</p>
		</header>
		<section>
			<table>
				<tr>
					<th>Details</th>
					<th>Amount</th>
					<th>Date</th>
				</tr>
				<tr>
					<td>Medicalfees</td>
					<td>Tshs.120000</td>
					<td>Sat Jul 25 15:13 2020</td>
				</tr>
			</table>
		</section>
		
		<!-- Footer -->
		<Footer>
			<div id="inquiries">
				<h3>Inquiries</h3>
				<form>
					<ul>
						<li><textarea name="inquiries" rows="6" cols="80" placeholder="We are waiting to hear from you"></textarea>
						<li><input type="submit"></li>
					</ul>
				</form>
			</div>
			<div id="contacts">
				<h3>Contacts</h3>
				<dl>
					<dt>website</dt>
					<dd><a href="">www.thepythongeek.com</a></dd>
					<dt>email</dt>
					<dd>thePythonGeek.yahoo.com</dd>
				</dl>
			</div>
			<p class="copyright">copyright &copy;thePythonGeek 2020</p>
		</Footer>
	</body>
</html>